{{!-- <div class="chat-content">
    <header class="chat-content-header">
        {{{ avatar }}}
        <div class="chat-content-header-label">"Label"</div>
        {{!-- <div class="chat-content_settings">Settings</div> --}}
        {{{ buttonChatSettings }}}
    </header>
    <main class="messageList">
    </main>
    <footer class="chat-content-footer">
        {{{ buttonAdd }}}
        {{{ inputMessage }}}
        {{{ buttonSubmit }}}
    </footer>
</div> --}}
