{{!-- <div class="chat_content">
    <header class="chat_content_header">
        {{{ avatar }}}
        <div class="chat_content_header_label">"Label"</div>
        {{!-- <div class="chat_content_settings">Settings</div> --}}
        {{{ buttonChatSettings }}}
    </header>
    <main class="messageList">
    </main>
    <footer class="chat_content_footer">
        {{{ buttonAdd }}}
        {{{ inputMessage }}}
        {{{ buttonSubmit }}}
    </footer>
</div> --}}
