<div class="avatar-container">
    <div>
        {{#if avatar}}
            <img src="{{avatar}}" class="{{class}}" alt="user avatar">
        {{else}}
            <img src="{{default_avatar}}" class="{{class}}" alt="user avatar">
        {{/if}}
    </div>

    {{#if label}}<div class="avatar-label">{{label}}</div>{{/if}}
</div>
